body {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

label .cardWrapper {
    position: relative;
    height: 298px;
    width: 210px;
    background-image: url(../img/card-back.png);
    margin: 10px;
    border-radius: calc(40vmin / 20);
    overflow: hidden;
    float: left;
    transition: transform 200ms linear;
}

input:checked + label .cardWrapper {
    transform: rotateY(180deg);
    animation-play-state: running;
}

.cardRandom {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 1;
    cursor: pointer;
    transition: opacity 1ms linear 100ms;
}

label .cardWrapper:hover {
    filter: brightness(0.98);
    animation: scaleCard 1s linear infinite;
}

input:checked + label .cardRandom {
    opacity: 0;
}

.cardRandom::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/cards.jpg);
    background-size: cover;
    animation: randomCard 1000ms steps(51, end) infinite;
    animation-play-state: paused;
    transform: rotate(180deg);
}

input:checked + label .cardRandom::before {
    animation-play-state: running;
}

input {
    height: 0;
    width: 0;
    border: none;
    outline: none;
    display: none;
}

@keyframes randomCard {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
}

@keyframes scaleCard {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);

    }
}